<div class="">
	Thank you for sending your email! Here is your message:
</div>

<div>From: <%= @from_email %></div>
<div>Subject: <%= @subject_email %></div>
<div>Content: <%= @content_email %></div>
